@use 'css/_theme' as t;

.yt-controller {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  padding: 10px;

  :global {
    .controls {
      min-width: 450px;
      padding: 4px;

      .action-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        span {
          margin: 0 3px 0 3px;
        }
      }
    }

    .options {
      border-left: 1px solid t.$color-font;
      margin-left: 6px;
      padding: 4px;
    }

    .padding {
      flex: 1;
      padding: 4px;
    }
  }
}
