$color: #ddd;
$background-color: #444;
$border-color: #aaa;
$border-radius: 6px;

.input {
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 8px;
  color: $color;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  min-height: 30px;
  padding: 5px;

  :global {
    div {
      display: inline;
    }

    input[type="range"] {
      position: relative;
      top: 3px;
    }

    select {
      margin-right: 4px;
    }

    .entry-creation {
      .now-time {
        cursor: pointer;
        padding: 0 2px;
      }
    }
  }
}
