$color: #ddd;
$background-color: #444;
$border-color: #888;
$border-radius: 8px;

.input {
  align-items: center;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  color: $color;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  min-height: 30px;
  padding: 5px;
  user-select: none;

  :global {
    input[type="range"] {
      position: relative;
      top: 3px;
    }

    select {
      margin-right: 4px;
    }

    .entry-creation {
      margin-right: 5px;

      .now-time {
        cursor: pointer;
        font-weight: bold;
        padding: 0 2px;
      }

      .at-time {
        margin: 0 4px 0 2px;
      }
    }
  }
}
