$color-primary: #333;
$color-primary-hover: #444;
$color-secondary: #222;
$color-font: #ddd;
$color-boundary: #111; 

$border-color: #777;
$border: 2px solid $border-color;
$border-radius: 8px;