.yt-player {
  text-align: center;
  user-select: none;
}

.yt-controller {
  display: flex;
  padding: 10px;
  user-select: none;

  .left {
    min-width: 450px;
  }

  .right {
    flex: 1;
  }

  $border-radius: 8px;

  .entry-list {
    background-color: grey;
    border-radius: $border-radius;
    height: 200px;
    overflow: auto;

    .entry {
      border: 1px solid #aaa;
      height: 25px;

      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }
    }
  }

  .add {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;

    &:hover {
      background-color: #ddd;
    }
  }

  .input {
    border: 1px solid #aaa;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    min-height: 30px;
    padding: 5px;

    div {
      display: inline;
    }

    input[type="range"] {
      position: relative;
      top: 3px;
    }

    select {
      margin-right: 4px;
    }

    .entry-creation {
    }

    .loop {
      .loop-count {
        width: 40px;
      }
    }

    .volume {
      input[type="range"] {
        margin-right: 4px;
        width: 75px;
      }

      input[type="number"] {
        width: 50px;
      }
    }
  }
}
