@import 'yt-controller';

html {
  height: 100%;
}

body {
  background-color: #2a2a2a;
  color: #eee;
  font-family: sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0;
}

label.cpt-checkbox {
  cursor: pointer;
  margin-right: 4px;

  input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    top: 2px;
  }
}

.App {
  display: flex;
  flex-direction: column;

  .app-contents {
  }

  .header {
    background-color: #181818;
    height: 60px;
    margin-bottom: 4px;
  }

  .footer {
    background-color: #181818;
    height: 40px;
  }
}

iframe[id="webpack-dev-server-client-overlay"] {
  display: none;
}